<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChallengeReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ChallengeReminder.Properties.Settings>
            <setting name="startTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="msg" serializeAs="String">
                <value>Challenge Time! 
GO GO GO! </value>
            </setting>
        </ChallengeReminder.Properties.Settings>
    </userSettings>
</configuration>
